<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- SuperSocket：注册 -->
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections> 
  <appSettings>
    <!-- SuperSocket：Windows服务的名称 -->
    <add key="ServiceName" value="GPS服务端"/>
    <!-- SuperSocket：Windows服务的描述 -->
    <add key="ServiceDescription" value=""/>
    <!-- SuperSocket：Windows服务的依赖（本Windows服务会在其依赖的服务启动之后再启动; 多个依赖服务用 ',' 或者 ';' 分割） -->
    <add key="ServicesDependedOn" value=""/>
  </appSettings>
  <!-- === superSocket Strat ================================================ -->
  <!-- http://docs.supersocket.net/v1-6/zh-CN/SuperSocket-Basic-Configuration -->
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
    <servers>
      <server name="定位服务程序"
              serverTypeName="GPSServer"
              ip="Any"
              port="9091" 
              textEncoding="GBK" 
              maxConnectionNumber="1000">
      </server>
    </servers>
    <serverTypes>
      <add name="GPSServer"
      type="SocketServer.AiThinker.GPSServer, SocketServer"/>
    </serverTypes>
  </superSocket>
  <!-- === superSocket END ================================================ -->
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>