<?xml version="1.0" encoding="utf-8"?>
<!--平台设置-->
<Setting>
  <!--调试-->
  <Debug>false</Debug>
  <!--显示运行时间-->
  <ShowRunTime>true</ShowRunTime>
  <!--扩展插件服务器。将从该网页上根据关键字分析链接并下载插件-->
  <PluginServer>#</PluginServer>
  <!--工作台页面。进入后台的第一个内容页-->
  <StartPage>/Admin/Index/Main</StartPage>
  <!--布局页。-->
  <Layout>~/Views/Shared/_Ace_Layout.cshtml</Layout>
  <!--默认角色。注册用户得到的角色，0使用认证中心角色，-1强制使用-->
  <DefaultRole>0</DefaultRole>
  <!--启用密码登录。允许输入用户名密码进行登录-->
  <AllowLogin>true</AllowLogin>
  <!--启用注册。允许输入用户名密码进行注册-->
  <AllowRegister>true</AllowRegister>
  <!--自动注册。第三方登录后，如果本地未登录，自动注册新用户-->
  <AutoRegister>true</AutoRegister>
  <!--强行绑定用户。根据OAuth登录返回用户名强项绑定本地同名用户，而不需要增加提供者前缀-->
  <ForceBindUser>false</ForceBindUser>
  <!--会话超时。单点登录后会话超时时间，该时间内可借助Cookie登录，默认0s-->
  <SessionTimeout>0</SessionTimeout>
  <!--登录提示。留空表示不显示登录提示信息-->
  <LoginTip></LoginTip>
  <!--用户在线。记录用户在线状态-->
  <WebOnline>true</WebOnline>
  <!--用户行为。记录用户所有操作-->
  <WebBehavior>false</WebBehavior>
  <!--访问统计。统计页面访问量-->
  <WebStatistics>true</WebStatistics>
  <!--捕获所有异常。默认false只捕获平台区域异常-->
  <CatchAllException>false</CatchAllException>
  <!--表单组样式。大中小屏幕分别3/2/1列-->
  <FormGroupClass>form-group col-xs-12 col-sm-6 col-lg-4</FormGroupClass>
  <!--下拉选择框。使用Bootstrap，美观，但有呈现方面的性能损耗-->
  <BootstrapSelect>true</BootstrapSelect>
  <!--强制SSL。强制使用https访问-->
  <ForceSSL>false</ForceSSL>
  <!--头像目录。设定后下载远程头像到本地-->
  <AvatarPath>..\Avatars</AvatarPath>
</Setting>