{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_User_UserX":  0,
    "Log_UserOnline_UserOnline":  0,
    "Log_Log_Log":  52,
    "Membership_Role_Role":  0
  },
  "FieldCache":  {
    "Log_Category":  {
      "菜单":  "菜单 (40)",
      "角色":  "角色 (9)",
      "用户":  "用户 (3)"
    }
  }
}