{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_User_UserX":  1,
    "Log_UserOnline_UserOnline":  0,
    "Log_Log_Log":  10,
    "Membership_Role_Role":  4,
    "MyCubeConn_UserConnect_UserConnect":  0
  },
  "FieldCache":  {
    "Log_Category":  {
      "用户":  "用户 (10)"
    }
  }
}