<?xml version="1.0" encoding="utf-8"?>
<OAuthConfig>
  <!--调试开关。默认true-->
  <Debug>true</Debug>
  <!--应用地址。域名和端口，应用系统经过反向代理重定向时指定外部地址-->
  <AppUrl></AppUrl>
  <!--配置项-->
  <Items>
    <!--配置项-->
    <OAuthItem Name="QQ" Server="" AccessServer="" AppID="" Secret="" Scope="" />
    <OAuthItem Name="Weixin" Server="" AccessServer="" AppID="" Secret="" Scope="" />
    <OAuthItem Name="Baidu" Server="" AccessServer="" AppID="" Secret="" Scope="" />
    <OAuthItem Name="Weibo" Server="" AccessServer="" AppID="" Secret="" Scope="" />
    <OAuthItem Name="Taobao" Server="" AccessServer="" AppID="" Secret="" Scope="" />
    <OAuthItem Name="Alipay" Server="" AccessServer="" AppID="" Secret="" Scope="" />
    <OAuthItem Name="Github" Server="" AccessServer="" AppID="" Secret="" Scope="" />
  </Items>
</OAuthConfig>