<?xml version="1.0" encoding="utf-8"?>
<!--系统设置-->
<SysConfig>
  <!--系统名称-->
  <Name>MyCube</Name>
  <!--系统版本-->
  <Version>1.0</Version>
  <!--显示名称-->
  <DisplayName>连锁门店平台</DisplayName>
  <!--公司-->
  <Company>德清长林</Company>
  <!--开发者模式-->
  <Develop>true</Develop>
  <!--启用-->
  <Enable>true</Enable>
  <!--安装时间-->
  <InstallTime>2018-06-01 14:12:48</InstallTime>
</SysConfig>