<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baidu.AI" version="3.3.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net461" />
  <package id="EnvDTE" version="8.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextTemplating.15.0" version="15.6.27413" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30320" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="11.0.50728" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="stdole" version="7.0.3302" targetFramework="net461" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net461" />
</packages>